/* =Layout
----------------------------------------------- */
// font imports


/* add your own fonts
@font-face {
    font-family: 'Example';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Example/Example.eot);
    src: url('assets/fonts/Example/Example.eot?#iefix') format('ie9-skip-eot'),
         url('assets/fonts/Example/Example.woff') format('woff'),
         url('assets/fonts/Example/Example.ttf')  format('truetype');
}
*/
