/* =Settings
----------------------------------------------- */

// Bourbon Settings
// these are all the default values
//$em-base: 16px;
//$disable-warnings: false !global;
//$column: modular-scale(3, 1em, $golden) !global;
//$gutter: modular-scale(1, 1em, $golden) !global;
//$grid-columns: 12 !global;
//$max-width: em(1088) !global;
//$border-box-sizing: true !global;
//$default-feature: min-width !global;
//$default-layout-direction: LTR !global;
//$visual-grid: false !global;
//$visual-grid-color: #eee !global;
//$visual-grid-index: back !global;
//$visual-grid-opacity: 0.4 !global;
